* {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #CCC;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #333;
}

h1 {
    margin: 0;
}

.toggle-done {
    text-decoration: line-through;
    color: #888;
}

.todo {
    border: 1px solid #CCC;
    background-color: #fff;
    border-radius: 4px;
    width: 260px;
    padding: 10px;
}

.todo-input {
    padding: 4px;
    width: 100%;
    font: inherit;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-bottom: 5px;
}

.todo-tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-tasks > li {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
}
