body {
    font-family: sans-serif;
    background-color: #c5c5c5;
    display: flex;
    justify-content: center;
}

.container {
    width: 960px;
}

.article-card {
    position: relative;
}

.article {
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 10px #cecece;
    margin-bottom: 24px;
    position: relative;
}

.article-status {
    background-color: seagreen;
    color: white;
    right: 60px;
    top: -10px;
    position: absolute;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 1;
}

.article-content {
    margin-left: 160px;
}

.article-img {
    width: 140px;
    border-radius: 100%;
}

.article::before {
    content: '🤠';
    position: absolute;
    text-align: center;
    line-height: 140px;
    font-size: 50px;
    left: 16px;
    top: 16px;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.541);
    opacity: 0;
    transition: opacity 0.7s;
}

.article:hover::before  {
    opacity: 1;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    overflow: auto;
}

